<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">


  <a class="navigation__link " href="/admin/users"> Users </a>

  <a class="navigation__link  child-nav" href="/admin/users?search=*&with=verified%3Dfalse"> - Unverified </a>
  <a class="navigation__link  child-nav" href="/admin/users?search=*&with=role%3D'Nurse'"> - Nurses </a>
  <a class="navigation__link child-nav" href="/admin/users?search=*&with=role%3D'Care Giver'"> - Care Givers </a>
  <a class="navigation__link child-nav" href="/admin/users?search=*&with=role%3D'Admin'"> - Admins </a>
  <a class="navigation__link child-nav" href="/admin/users/export_form"> - User Export </a>

  <a class="navigation__link " href="/admin/care_homes"> Care Homes </a>
  <a class="navigation__link child-nav" href="/admin/care_homes?search=*&with=verified%3Dfalse"> - Unverified
  </a>
  
  <a class="navigation__link " href="/admin/staffing_requests"> Staffing Requests </a>
  <a class="navigation__link child-nav" href="/admin/staffing_requests?search=*&with=request_status%3D'Open',shift_status%3D'Not Found'"> - Without Shifts</a>

  <a class="navigation__link " href="/admin/shifts"> Shifts </a>
  <a class="navigation__link child-nav" href="/admin/shifts?search=*&with=payment_status%3D'Pending'"> - Pending Payments </a>

  <a class="navigation__link " href="/admin/payments"> Payments </a>
  <a class="navigation__link child-nav" href="/admin/payments_export/form"> - Payment Export
  </a>

  <a class="navigation__link " href="/admin/ratings"> Ratings </a>
  <a class="navigation__link " href="/admin/holidays"> Holidays </a>
  <a class="navigation__link " href="/admin/rates"> Rates </a>
  <a class="navigation__link " href="/admin/referrals"> Referrals </a>

</nav>
