<form class="search" role="search">
  
  Search:
  <input
    type="text"
    name="search"
    class="search__input"
    placeholder="Search"
    value="<%= search_term %>"
    aria-label="Search"
  />

  Filters:
  <input
    type="text"
    name="with"
    class="search__input"
    placeholder="With"
    value="<%= params[:with] %>"
    aria-label="With"
  />
  
  <span class="search__clear">
    <%= link_to clear_search_params do %>
      <% # svg_tag "administrate/cancel.svg", "cancel-search", width: 16, height: 16 %>
    <% end %>
  </span>
  <input type="submit" name="commit" value="Search" data-disable-with="Search">
</form>