<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Accept Agency</h2>
    <p>
    	The Agency <%= @agency.name %> has sent you a request to join this agency on the Connuct App. Please open the app and accept the request, so you can book care givers associated with this agency, based on your requirements.
	</p>
    
  </body>
</html>