<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="border-style: solid; border-color: black;width: 60%; margin: 0 	auto; padding: 20px;">

  	<table width="100%" border="0" cellspacing="0" cellpadding="0">

  		<tr>
	        <td align="center">
	          <img class="logo" src="http://blog.connuct.co.uk/wp-content/uploads/2019/07/Original_png.png" style="width:200px;height:180px;" alt="Logo">
	        </td>
	    </tr>
	      
	    <tr>
	        <td align="center">
	            <h2> QR Code To Start/End Shifts </h2>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <p><%= image_tag "/system/#{@care_home.qr_code}.png", style: "width:200px;height:200px;" %></p>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <h3>t: 0333 577 8900   |   e: info@connuct.co.uk</h3>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <h3>www.connuct.co.uk</h3>
	        </td>
	    </tr>

	    <tr>
	        <td align="center">
	            <h3>
	            	New age, intelligent technology for Nurses and Healthcare professionals </br>
	            	temporary staffing solution supporting Care Homes and Hospitals
	            </h3>
	        </td>
	    </tr>
	</table>
    
  </body>
</html>