<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Care Home <%=@care_home.name%>, has been verified</h2>
    <p>
    	Thank you for your patience. Your care home has been verified and you can now use the app to book Care Givers and Nurses. Call us on <%= ENV['CALL_CENTER'] %> if you need any help.
	</p>
  </body>
</html>