<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  	<div style="border-bottom: 1px solid #ccc; line-height: 1.8em;">
  	<table width="100%" border-bottom="0" cellspacing="0" cellpadding="0" height="600">

  		<tr>
	        <td align="center">
	          <img class="logo" src="http://blog.connuct.co.uk/wp-content/uploads/2019/08/Tent-Card-Inverted.gif" style="width:400px;height:400px;" alt="Logo">
	        </td>
	    </tr>
	
	</table>
  	</div>

  	<div style="padding-top: 20px;">
  	<table width="100%" border="0" cellspacing="0" cellpadding="0" height="350">

  		<tr>
	        <td align="center">
	          <img class="logo" src="http://blog.connuct.co.uk/wp-content/uploads/2019/07/Original_png.png" style="width:150px;height:120px;" alt="Logo">
	        </td>
	    </tr>
	      
	    <tr>
	        <td align="center">
	            <h2> QR Code To Start/End Shifts </h2>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <p><%= image_tag "/system/#{@care_home.qr_code}.png", style: "width:200px;height:200px;" %></p>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <h3>t: 0333 577 8900   |   e: info@connuct.co.uk</h3>
	        </td>
	    </tr>
	    <tr>
	        <td align="center">
	            <h3>www.connuct.co.uk</h3>
	        </td>
	    </tr>

	    <tr>
	        <td align="center">
	            <p>
	            	New age, intelligent technology for Nurses and Healthcare professionals </br>
	            	temporary staffing solution supporting Care Homes and Hospitals
	            </p>
	        </td>
	    </tr>
	</table>
    </div>
  </body>
</html>