<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Please upload your latest documents.</h2>
    <p>
    	Its been a year since you have uploaded your documents for verification. Please upload the latest documents, so we can verify them. Thank you.
	</p>
  </body>
</html>