<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h2>Dear <%= @user_doc.user.first_name%></h2>
    
    <h2>
      Your document is due to expire.
      Please upload your latest <%= @user_doc.doc_type %> which will expire on 
      <%= @user_doc.expiry_date.strftime("%d/%m/%Y") %> .
    </h2>
    
    <p>

    </p>
    
    <p>
    	Without these we won’t be able to send you shifts. 
      If you have any questions, please contact our team on 0333 577 8900 or email: info@connuct.co.uk
	  </p>

  </body>
</html>