<!DOCTYPE html>
<html>
  
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>No slot found for request from <%= staffing_request.care_home.name %></h1>
    <p>
    	Care Home: <%= staffing_request.care_home.name %>
    </p>
    	Start: <%= staffing_request.start_date %>
    </p>
    <p>	
    	End: <%= staffing_request.end_date %>
	</p>

	<p>
		Please ensure a manual booking for this request.
	</p>
    	


  </body>
</html>