<!DOCTYPE html>
<html>
  
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h2>The following request was cancelled by you.</h2>

    <%= render partial: "request" %>

  </body>
</html>