<!DOCTYPE html>
<html>
  
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h2>Document verification required</h2>

  	<p>
  		A new document was uploaded by a user and is pending verification. Please log into the admin console and verify the document.
  	</p>


    	
    <%= render partial: "user_doc" %>

  </body>
</html>