<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Shift Cancelled</h2>
    <p>
    	This is to confirm that the shift that was assigned to you has been cancelled.
	</p>
	<%= render partial: "shift" %>
  </body>
</html>