<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear <%=@user.first_name%>, New Shift Available: Notification <%= @shift.notification_count %></h2>
    <p>
    	A new shift is available. Please log into the app and Accept & Confirm it.
	</p>
	<%= render partial: "shift" %>
  </body>
</html>