<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Slot Accepted</h1>
    <p>
    	This is to confirm that the slot has been confirmed by you. Please show up on time. Thanks.
	</p>
  </body>
</html>