<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Slot Cancelled</h1>
    <p>
    	This is to confirm that the slot that was assigned to you has been cancelled.
	</p>
  </body>
</html>