<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>New Slot Booked</h2>
    <p>
    	You have a new slot booked. Please check the app.
	</p>
	<%= render partial: "slot" %>
  </body>
</html>