<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Verification Complete</h2>
    <p>
    	Your documents have been verified. Please log into the app.
	</p>
  </body>
</html>