<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear <%=@user.first_name%>, Please upload your latest documents.</h2>
    <p>
    	Please uploaded your documents for verification, so that you can start using the Connuct platform. You will need to upload the following documents
    	<ol>
    		<li>ID Proof</li>
    		<li>Proof of Address</li>
    		<li>Certification</li>
    		<li>DBS</li>
    	</ol>
    	Once these documents are verified by our team, you will start receiving requests from Care Homes. 
	</p>

  </body>
</html>