<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear <%=@user.first_name%>, Verification Complete</h2>
    <% if @user.role == "Admin" %>
    	<p>
	    	Your account have been verified. Please log into the app to enter staffing requests.
		</p>
    <% else %>
	    <p>
	    	Your documents have been verified. Please log into the app. Note that you will now be eligible for shifts within your preferred commute distance.
		</p>
	<% end %>
  </body>
</html>