<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
	Export Payment Data
  </h1>

</header>

<section class="main-content__body">

<form class="form" id="payment_export_form" action="/admin/payments_export.xlsx" accept-charset="UTF-8" method="get">

<input name="utf8" type="hidden" value="&#x2713;" />

<input type="hidden" name="authenticity_token" value="TU6UPPlyGNUe/yTaQ7E6GQaOeG75cFdecUwAV/ZajKcXKi6pfPNIkWURvCOIRbSpiFYDF7b84wYlm/vlnzRIGg==" />


<div class="field-unit field-unit--string">
      
	<div class="field-unit__label">
	  <label for="created_at_start">Start Date</label>
	</div>
	<div class="field-unit__field">
	  <input type="date" name="created_at_start" id="created_at_start" value='<%= Date.today.beginning_of_month %>' />
	</div>

</div>

<div class="field-unit field-unit--string">
      
	<div class="field-unit__label">
	  <label for="created_at_end">End Date</label>
	</div>
	<div class="field-unit__field">
		<input type="date" name="created_at_end" id="created_at_end" value='<%= Date.today.end_of_month %>' />
	</div>

</div>


<div class="field-unit field-unit--string">
      
	<div class="field-unit__label">
	  <label for="user_id">User Id</label>
	</div>
	<div class="field-unit__field">
	  <input type="text" name="user_id" id="user_id" value='<%=params[:user_id]%>' />
	</div>

</div>


<div class="field-unit field-unit--string">
      
	<div class="field-unit__label">
	  <label for="care_home_id">Care Home Id</label>
	</div>
	<div class="field-unit__field">
	  <input type="text" name="care_home_id" id="care_home_id" value='<%=params[:care_home_id]%>' />
	</div>

</div>


<div class="field-unit field-unit--string">
      
	<div class="field-unit__label">
	  <label for="report_format">Format</label>
	</div>
	<div class="field-unit__field">
	  	<input type="radio" name="report_format" value="Carer" checked> Carer<br>
  		<input type="radio" name="report_format" value="Care Home"> Care Home<br>
  		<input type="radio" name="report_format" value="Both"> Both  
	</div>

</div>

  <div class="form-actions">
    <input type="submit" name="submit" value="Download Payments" />
  </div>
</form>

</section>