<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Document <%= @user_doc.doc_type.titlecase %> Expired</h1>
    <p>
    	The document that you had uploaded has crossed its expiry date. Please upload the latest copy of this document using our app.  
	</p>
  </body>
</html>