<p>Dear <%= @resource.email %>!</p>

<p>
  Someone has requested a link to reset your password.
  Please enter the code below to access your account and reset your password.
</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> 

               <blockquote>Secret Code: <%= @resource.reset_password_token %></blockquote>

			        </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>
  If you didn’t request update your password, please ignore this email. Your password will not change until you enter the code above. If you have any questions, please contact our team on 0333 577 8900 or email: info@connuct.co.uk
</p>
