<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Reset Password for <%=@user.first_name%> <%=@user.last_name%>   
  </h1>
</header>

<form class="form" id="password_reset" action="/admin/users/perform_password_reset" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="_method" value="post">
  <input type="hidden" name="authenticity_token" value="9mltsGIbydODdtBMOVW2qPCd+yTGvEKjaRPBslEOBMEzqfXq1igS1LVC/vWod/OyF+EJGU3yBHR1IyTNUQP0oQ==">


<div class="field-unit field-unit--string">
  
</div>

<div class="field-unit field-unit--string">
      
  <div class="field-unit__label">
    <label for="password">Password</label>
  </div>
  <div class="field-unit__field">
    <input type="password"  name="user[password]" id="password">
  </div>
  <input type="hidden"  name="user[id]" value="<%=@user.id%>">

</div>    

<div class="field-unit field-unit--string">
      
  <div class="field-unit__label">
    <label for="password_confirmation">Confirm Password</label>
  </div>
  <div class="field-unit__field">
    <input type="password" name="user[password_confirmation]" id="password_confirmation">
  </div>

</div>    

  <div class="form-actions">
    <input type="submit" name="commit" value="Reset Password" data-disable-with="Update User">
    <input type="hidden"  name="user[id]" value="<%=@user.id%>">
  </div>
</form>